body {
  background-color: rgb(46, 71, 63);
  font-family: sans-serif;
  color: antiquewhite;
}


/* Sidebar */

a
{
  color: rgb(240, 172, 83);
}

.toggle-checkbox
{
  display: none;
}

.sidebar {
  position: fixed;
  top: 1%;
  left: -300px;
  width: 20%;
  height: 100%;
  background-color: rgb(46, 71, 63);
  transition: left 0.6s ease;
  /* border: 1px solid rgb(240, 172, 83); */
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  height: 5%;
  font-size: 1.5rem;
  
}

#sidebar-toggle:checked ~ .sidebar {
  left: 0;
}

.hamburger {
  
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
 
  cursor: pointer;
  z-index: 1;
}

.line {
  
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(240, 172, 83);
  margin-bottom: 4px;
  transition: transform 0.3s ease;
}

#sidebar-toggle:checked ~ .hamburger .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#sidebar-toggle:checked ~ .hamburger .line:nth-child(2) {
  opacity: 0;
}

#sidebar-toggle:checked ~ .hamburger .line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
