.navbar 
{
    background-color: #21365b;
    position: fixed;
    top: 2px;
    left: 0;
    right: 0;
    z-index: 9999;
    color: white;
}
.codeSymbol
{
    width: 10%;
    max-width: 70px;
}
.link
{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}